{% extends "base.html" %}
{% block body %}
<div id="task-view">
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item">
                Argument Generation Study - Causal Example Annotation
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    Page [[ contextIndex + 1 ]] / [[ contexts.length ]]
                </div>
            </div>
        </div>
    </nav>
    <div class="container v-large-padded h-padded">
        <div class="content">
            <center><h4 style="color:#009e6c;">Caution! If you reload this page, all your answer will be reset without being saved.</h4></center>
            <div style="text-align: right;">
                <a href="/static/causal-example-manual.pdf" style="color:#009e6c;" download>💾 Download Instruction File</a>
            </div>
            <template v-for="(context, i) of contexts" v-if="i === contextIndex" >
                <div class="v-padded validator" v-if="validateIndexes.includes(contextIndex)">
                    <div class="columns">
                        <div class="column is-">
                            <h4>Context</h4>
                            <vue-markdown :source="context.context"></vue-markdown><br />
                            <h4>Statement</h4>
                            <vue-markdown :source="context.statement"></vue-markdown>
                            <!-- <h4>Response</h4>
                            <vue-markdown :source="validateTexts[validateIndexes.indexOf(contextIndex)].text"></vue-markdown> -->
                        </div>
                        <div class="column">
                            <h4>Question</h4>
                            <!-- <div v-if="contextIndex != validateContext">
                                <p>
                                    [[ question.text ]]
                                </p>
                            </div>
                            <div v-else>
                                <p style="color:#009e6c;">
                                    This is a question to validate your answer. Answer as <b>[[ question.option[validateValue+''] ]]</b> for a following question. 
                                </p>
                            </div> -->
                            <div class="v-padded" v-for="question in questions" :key="question.id">
                                <div v-if="contextIndex != validateContext">
                                    [[ question.text]]
                                </div>
                                <div v-else style="color: #009e6c;">
                                    This is a question to validate your answer. <br />
                                    Answer as <b>[[ question.option[validateValue+''] ]]</b> for a following question. 
                                </div>
                                <br />
                                <!-- <p>
                                    [[ question.text ]]
                                </p> -->
                                <div class="buttons is-left">
                                    <!-- <span class="button is-static">
                                        [[ question.mintext ]]
                                    </span> -->
                                    <!-- <button v-for="v in [1, 2, 3, 4]" :key="v" class="button"
                                        :class="{ 'is-black': isValidateValue(contextIndex, v) }"
                                        @click="selectValidateValue(contextIndex, v, v === validateTexts[validateIndexes.indexOf(contextIndex)].value)">
                                        [[ v ]]
                                    </button> -->
                                    <button v-for="v in Object.keys(question.option)" :key="v" class="button is-fullwidth"
                                        :class="{ 'is-black': isValue(v) }"
                                        @click="selectValue(v)">
                                        <!-- [[ v ]] -->
                                        [[ question.option[v+''] ]]
                                    </button>
                                    <br />
                                    <!-- <span class="button is-static">
                                        [[ question.maxtext ]]
                                    </span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="v-padded">
                    <div class="field is-grouped">
                        <p v-if="contextIndex > 0" class="control">
                            <button class="button is-warn" @click="contextIndex--">
                                ⇦ Previous
                            </button>
                        </p>
                        <p v-if="contextIndex < contexts.length - 1" class="control">
                            <button class="button is-success" @click="contextIndex++">
                                ⇨ Next
                            </button>
                        </p>
                        <p v-else-if="contextIndex === contexts.length - 1" class="control">
                            <button class="button is-success" @click="submit">
                                Submit
                            </button>
                        </p>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>
<script>
    function loadValue(key) {
        skey = this.__uid__ + '::' + key;
        var value = localStorage.getItem(skey);
        if (value) {
            return JSON.parse(value);
        } else {
            return null;
        }
    }
    function saveValue(key, value) {
        skey = this.__uid__ + '::' + key;
        localStorage.setItem(skey, JSON.stringify(value));
    }
    this.__uid__ = loadValue('uid') || '{{ uid }}';
    this.__contexts__ = loadValue('contexts') || {{ contexts | tojson | safe }};
    this.__questions__ = loadValue('questions') || {{ questions | tojson | safe }};
    saveValue('uid', this.__uid__);
    saveValue('contexts', this.__contexts__);
    saveValue('questions', this.__questions__);
    Vue.use(VueMarkdown);
    var app = new Vue({
        el: '#task-view',
        delimiters: ['[[', ']]'],
        data: {
            uid: this.__uid__,
            contexts: this.__contexts__,
            questions: this.__questions__,
            // validateTexts: this.__validate_texts__,
            contextIndex: loadValue('contextIndex') || 0,
            response: loadValue('response') || {},
            // candidateIds: [],
            validateIndexes: [],
            // message: loadValue('message') || {},
            workerId: window.location.search.split("=")[1],
            validateContext: Math.floor(Math.random() * 4)+1,
            validateValue: Math.floor(Math.random() * 4),
        },
        created() {
            // this.candidateIds = this.shuffle(Object.keys(this.contexts[this.contextIndex].candidates));
            // this.validateIndexes = [Math.floor(this.contexts.length / 2), this.contexts.length - 1];
            this.validateIndexes = [...Array(this.contexts.length).keys()];
            this.validateIndexes.forEach(i => {
                const questionValues = {};
                this.questions.forEach(q => {
                    questionValues[q.id] = { value: null, passed: false };
                });
                Vue.set(
                    i,
                    questionValues
                );
            });
        },
        methods: {
            shuffle(array) {
                let currentIndex = array.length, temporaryValue, randomIndex;
                while(0 !== currentIndex) {
                    randomIndex = Math.floor(Math.random() * currentIndex);
                    currentIndex -= 1;
                    temporaryValue = array[currentIndex];
                    array[currentIndex] = array[randomIndex];
                    array[randomIndex] = temporaryValue;
                }
                return array;
            },
            // isValue(candidateId, questionId, value) {
            //     const context = this.contexts[this.contextIndex];
            //     if (!this.response[context.id]) {
            //         return false;
            //     }
            //     return this.response[context.id][candidateId][questionId] === value;
            // },
            isValue(value) {
                const context = this.contexts[this.contextIndex];
                if (!this.response[context.id]) {
                    return false;
                }
                return this.response[context.id] === value;
            },
            // selectValue(candidateId, questionId, value) {
            //     const context = this.contexts[this.contextIndex];
            //     if (!(context.id in this.response)) {
            //         var candidateIds = Object.keys(context.candidates);
            //         var contextResponse = {};
            //         candidateIds.forEach(cid => {
            //             contextResponse[cid] = {};
            //             this.questions.forEach(question => {
            //                 contextResponse[cid][question.id] = null
            //             });
            //         });
            //         Vue.set(this.response, context.id, contextResponse);
            //     }
            
            //     this.response[context.id][candidateId][questionId] = value;
            // },
            selectValue(value) {
                const context = this.contexts[this.contextIndex];
                if (!(context.id in this.response)) {
                    var contextResponse = null;
                    Vue.set(this.response, context.id, contextResponse);
                }
                this.response[context.id] = value;
            },
            // isValidateValue(contextIndex, v) {
            //     return this.validatorValues[contextIndex].value === v;
            // },
            // selectValidateValue(contextIndex, value, passed) {
            //     this.validatorValues[contextIndex].value = value;
            //     this.validatorValues[contextIndex].passed = passed;
            // },
            resetValues() {
                saveValue('uid', null);
                saveValue('contexts', null);
                saveValue('questions', null);
                saveValue('contextIndex', null);
                saveValue('response', null);
                // saveValue('message', null);
            },
            submit() {
                // Validate the response.
                let isValid = true;
                let isPassed = true;
                // console.log('vv', this.validatorValues);
                // Object.keys(this.validatorValues).forEach(r => {
                //     if (this.validatorValues[r].value === null) {
                //         isValid = false;
                //     }
                //     if (!this.validatorValues[r].passed) {
                //         isPassed = false;
                //     }
                // });
                this.contexts.forEach(context => {
                    if (!this.response[context.id]) {
                        isValid = false;
                    }
                    try {
                        Object.values(this.response[context.id]).forEach(cvalue => {
                            if (cvalue === null) {
                                isValid = false;
                            }
                        });
                    } catch (err) {
                        isValid = false;
                    }
                })
                
                // this.contexts.forEach(context => {
                //     if (!this.message[context.id]) {
                //         isValid = false;
                //     }
                //     try {
                //         Object.values(this.message[context.id]).forEach(cvalue => {
                //             if (cvalue === null) {
                //                 isValid = false;
                //             }
                //         });
                //     } catch (err) {
                //         isValid = false;
                //     }
                // })

                if (!isValid) {
                    alert('You have to answer to all questions.');
                    return;
                }
                if (!isPassed) {
                    // Failed to pass the validity check.
                   window.location.href = '/tasks/done?code=' + encodeURI('pass_no_132v82389a823l3133id112');
                   return;
                }
                // Submit with AJAX call.
                axios.post('/tasks/submit', {
                    response: this.response,
                    // message: this.message,
                    contexts: this.contexts,
                    isPassed: isPassed,
                    contextIndex: this.contextIndex,
                    uid: this.uid,
                    workerId: this.workerId,
                    validateContext: this.validateContext,
                    validateValue: this.validateValue,
                    timestamp: Date.now()
                    // validatorValues: this.validatorValues
                }).then(response => {
                    const data = response.data;
                    const succeed = data.startsWith('done:');
                    if (succeed) {
                        const code = data.split(':')[1];
                        //window.location.href = '/tasks/done?code=' + encodeURI(code);
                        if (isPassed) {
                            window.location.href = '/tasks/done?code=' + encodeURI(code);
                        } else {
                            window.location.href = '/tasks/done?code=pass_' + encodeURI(code);
                        }
                        this.resetValues();
                    } else {
                        alert('Error from server on submit: ' + response);
                    }
                }).catch(function (error) {
                    alert('Error occurred on submit: ' + error);
                });
            },
        },
        watch: {
            contextIndex() {
                // this.candidateIds = this.shuffle(Object.keys(this.contexts[this.contextIndex].candidates));
                saveValue('contextIndex', this.contextIndex);
                this.$nextTick(() => {
                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                });
            },
            response() {
                saveValue('response', this.response);
            },
            // message() {
            //     saveValue('message', this.message);
            // },
        }
    })
</script>
{% endblock %}